<div class="opinion">
    <h1 class="opinion__text">
        Сеть&nbsp;&nbsp;профессиональных автосервисов
        <span class="opinion-span--color"
            >Geely</span
        >
        в&nbsp;Москве
    </h1>
    <picture>
        <source
            media="(min-width: 769px)"
            srcset="/svg/opinion-yandex.svg"
            width="200"
            height="96"
        />
        <img
            class="opinion__image"
            src="/svg/opinion-yandex-tablet.svg"
            alt="Оценка Яндекс"
            width="167"
            height="67"
        />
    </picture>
</div>